<div class="container">

  <div class="row">

    <!--{{index}}-->
<ng-container *ngIf="oneFirstNameObject; else loadingFirstnameCard">
  <div class="col-md-6 col-sm-12 mt-5 mx-auto">
    <app-firstname-card

      [firstName]="oneFirstNameObject"
      [currentItemIndex]="firstNameKeysIndex + 1"
      [maximumItemIndex]="firstNameKeys.length"
      (throwIt)="onThrowIt($event)"></app-firstname-card>
  </div>


</ng-container>
<ng-template #loadingFirstnameCard>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

  </div>
  <div class="row">
    <button class="btn btn-info mx-auto" (click)="nextFirstName()">Következő</button>
  </div>
</div>

