


<ng-container *ngIf="user">

  <div class="row p-5">
    <div class="col-md-6 img">
      <img
      [src]="user"
      alt="" class="img-rounded img-fluid img-thumbnail">

    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5> {{user.lastName}} {{user.firstName}}</h5>
        <small><cite title="Source Title">Chicago, United States of America <i class="icon-map-marker"></i></cite>
        </small>
      </blockquote>
      <p>
        {{user.email}}<br>

        {{user.lastName}} {{user.firstName}} <br>
        June 18, 1990
      </p>
    </div>
  </div>
<h3> Visited firstnames</h3>

  <ul  class="list-group">
    <li class="list-group-item"
      *ngFor="let fname of visitedFirstNames ">{{fname}}</li>

  </ul>



</ng-container>
