<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Cover</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>
<app-home></app-home>
  <main role="main" class="inner cover">


      <h1 class="cover-heading">Nem tudtok nevet választani?</h1>
      <p class="lead">
        Már sokat gondolkodtatok rajta de nem érzitek igazán, hogy mi legyen a neve születendő gyermeketeknek?
        A progam feldob neveket, Te pedig eldöntheted, hogy megtartod- e vagy eldobod. A végén kiderül, hogy a párod is
        ezekre a nevekre gondolt - e?
       </p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Start</a>
      </p>

  </main>
  <app-footer ></app-footer>

</div>


<router-outlet></router-outlet>
