<div class="card-deck mb-3 text-center mx-auto">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h2 class="my-0 font-weight-normal">{{firstName.firstname}}</h2>
      <span>{{currentItemIndex}} / {{maximumItemIndex}}</span>
    </div>
    <div class="card-body">
      <h4 class="card-title pricing-card-title">
        Biró {{firstName.firstname}}
      </h4>
      <p>
        {{firstName.description}}
      </p>

      <button
        (click)="throwThisFirstName(false)"
        type="button"
        class="btn btn-lg btn-block btn-outline-primary">Eldob
      </button>
      <button
        (click)="throwThisFirstName(true)"
        type="button"
        class="btn btn-lg btn-block btn-outline-primary">
        Megtart</button>
    </div>
  </div>
</div>


