<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Nem tudtok nevet választani?</h1>
  <p class="lead">
    Már sokat gondolkodtatok rajta de nem érzitek igazán, hogy mi legyen a neve születendő gyermeketeknek?
    A progam feldob neveket, Te pedig eldöntheted, hogy megtartod- e vagy eldobod. A végén kiderül, hogy a párod is
    ezekre a nevekre gondolt - e?
  </p>

  <p class="lead">
    <app-navbar-item url="/firstname" navClass="btn btn-lg btn-primary" linkText="Kezdés"></app-navbar-item>

  </p>
</div>
