
<div class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input
    #loginEmail
    value="valami@gmail.com"
    type="email"
    id="inputEmail"
    class="form-control"
    placeholder="Email address"
    required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    #loginPassword
    value="tryPassword"
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    required>
  <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="login(loginEmail.value,loginPassword.value)">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</div>

<ng-container *ngIf="errorInLoginMethod">
  <div class="alert alert-danger" role="alert">
    {{errorInLoginMethod}}
  </div>

</ng-container>

